
@{
    ViewData["Title"] = "CadastrarMedico";
}

<h1>CadastrarMedico</h1>

<a href="#" class="listar-cidades">Cadastrar Cidades</a>

@section Scripts{


    <script>

        console.log("cadastrar medico");

        $('.listar-cidades').on("click", function () {
            console.log("listando...");
             $.ajax({
                    type: "GET",
                    url: '@Url.Action("ObterCidades")',
                    // data: { agendaId },
                    success: function (retorno) {
                        try {
                            var json = JSON.parse(retorno);
                            console.log(json);
                        } catch (error) {
                            console.log("Não foi possível obter a última ficha chamada");
                        }
                    },
                    error: function (retorno) {
                        console.log("Algo de errado aconteceu!");
                    }
                });
        });
                
    </script>

}

